.App {
  padding: 30px;
  display: flex;
  background-color: #ccfff0;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid #4688ff;
  background-color: #fff7c9;
  border-radius: 10px;
  padding: 15px;
  height: max-content;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}